.title{
    text-align: center;
    margin: 0px;
}
.subtitle{
    text-align: center;
    font-size: 25px;
}
.content{
    font-family: comic sans MS;
}
.emph{
    font-style: italic;
}
p {
    margin: 0px;
}
